
.default_button_1{
  text-decoration: none;
  float: left;
  border: none;
  text-align: center;
  display: block;
  color: white;
  background-color: #7D551A;
  cursor: pointer;
  padding: 5px 5px;
  width: 9%;
  font-size: 20px;
}

.default_button_2{
  text-decoration: none;
  float: right;
  border: none;
  text-align: center;
  display: block;
  color: white;
  background-color: #7D551A;
  cursor: pointer;
  padding: 5px 5px;
  width: 9%;
  font-size: 20px;
}

.asin{
  visibility: hidden;
  margin: 0;
}

.book_content{
  margin-left: 20px;
  width: 85%;
  display: inline;
  float: left;
}

.book_title{
  font-size: 40px;
  display: block;
}

.book_cover{
  width: 160px;
  float: left;
  display: inline;
}

.review_title{
  float: left;
  display: block;
}

.review_contents{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea{
  float: left;
  display: block;
  width: 100%;
  height: 300px;
  resize: none;
  margin-bottom: 20px;
}

.review{
  float: left;
  display: block;
  width: 100%;
  background-color: #F2CF9B;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.login{
  float: right;
}

.center{
  float: left;
  margin-left: -10px;
}

.center .stars{
  height: 40px;
  width: 217px;
  text-align: left;
}
.stars input{
  display: none;
}
.stars label{
  float: right;
  font-size: 40px;
  color: lightgrey;
  margin: 0 5px;
  text-shadow: 1px 1px #bbb;
}
.stars label:before{
  content: '★';
}
.stars input:checked ~ label{
  color: black;
  text-shadow: 1px 1px #c60;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: black;
}
.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: black;
  text-shadow: 1px 1px goldenrod;
}
.stars .result:before{
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  transform: translateX(-47%);
  bottom: -30px;
  font-size: 30px;
  font-weight: 500;
  color: gold;
  font-family: 'Poppins', sans-serif;
  display: none;
}
.stars input:checked ~ .result:before{
  display: block;
}
