ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #7D551A;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.navbar{
  display: block;
  float: left;
  width: 100%;
  background-color: #7D551A;
}

ul li{
  float: left;
  
}



h1, h2, h3{
  margin: 0;
  padding: 0;
}

/* a inside ul*/
ul li a{
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 13px 70px;
  text-decoration: none;
  background-color: #7D551A
}

.container .login{
  float: right;
  display: block;
  padding: 0px 10px 0px 0px;
  font-size: 20px;
}

.navbar ul li a:hover {
  background-color: #CE8416;
}

.navbar ul li a.active {
  background-color: #CE8416;
}

a:hover{
  text-decoration: underline;
}

.logo{
  background-image: url(../assets/logo.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline;
  float: left;
  vertical-align: top;
  width: 200px;
  height: 150px;
}

.container{
  min-height: 100%;
  margin: 0 auto;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropbtn{
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 13px 70px;
  text-decoration: none;
  background-color: #7D551A;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2CF9B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #F2CF9B;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container .search-container button{
  float: left;
  padding: 10px;
  margin-top: 60px;
  margin-right: 50px;
  font-size: 17px;
  border: 2px solid grey;
  border-left: none;
  cursor: pointer;
  width: 5%;
  height: 44px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.container .search-container input[type=text] {
  float: left;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  margin-top: 60px;
  margin-left: 40px;
  width: 60%;
  font-size: 17px;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.container_2 img{
  min-width: 100%;
  margin: 0 auto;
}

.container_2 .make_review{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #F2CF9B;
  color: #7D551A;
  font-size: 35px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  width: 40%;
  text-decoration: none;
  text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.container .login{
  background-color: #7D551A;
  color: white;
  padding: 5px 20px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 7%;
  height: 30px;
  text-align: center;
  font-size: 15px;
}

.login{
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
  color: white;
}

.submitbtn{
  width: auto;
  padding: 10px 18px;
  background-color: green;
  border: none;
  color: white;
  float: right;
}
